--index-url https://resource.flagos.net/repository/flagos-pypi-hosted/simple
--extra-index-url https://pypi.tuna.tsinghua.edu.cn/simple
--trusted-host resource.flagos.net pypi.tuna.tsinghua.edu.cn
ninja
cmake
wheel
GitPython
pytest
scipy
pybind11
nanobind
pandas
einops
